.switch-mode{
    float: left;
    position: fixed;
    z-index: 3;
    bottom: 6%;
    left: 40px;
    color: grey;
    text-align: center;
}

.top-wrapper-profile{
    height:380px;
    background: linear-gradient(rgba(34, 34, 34, 0.281),rgba(0, 0, 0, 0.63)),url(../img/galaxy.jpg) fixed;
    background-size: cover;
    padding: 40px 0;
}

.top-text{
    color: white;
    padding-top: 80px;
    letter-spacing: 2px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
}

.my-photo{
    position: relative;
    display: block;
    border-radius: 50%;
    width: 210px;
    margin: 190px auto;
    padding: 20px;
    z-index: 2;
}

.feature a{
    display: inline-block;
    line-height: 30px;
    text-decoration: none;
}

.content-wrapper{
    padding: 150px 0;
    background-color: black;
    color: white;
    position: relative;
    z-index: 1;
}

.btnNav{
    line-height: 35px;
    width: 80px;
    margin: 0;
}
.btnNav:hover{
    background-color: rgb(105, 108, 110);
}

.navbar{
    padding: 0;
}


/* country */

.top-wrapper-country{
    
    height:800px;
    background: linear-gradient(rgba(0, 0, 0, 0.61),rgba(0, 0, 0, 0.61)),url(../img/indonesian-flag.png) fixed;
    background-size: cover;
    z-index: -3;
    position: relative;
}

/* prodi */

.top-wrapper-sisfor{
    height:800px;
    background: linear-gradient(rgba(0, 0, 0, 0.781),rgba(85, 84, 84, 0.473)),url(../img/sisfor-top.jpg) fixed;
    background-size: cover;
    z-index: -3;
    position: relative;
}

/* list management */
.list-content{
    padding-bottom: 400px;   
}


/* dark/light mode */
.light{
    background-color: honeydew;
    color: black;
}